<div id='main'>
	
	<%= render 'info/generic_title' %>

	<% if !user_signed_in? %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/promo' %>
			<%= render :partial => 'devise/registrations/new' %>
		</div>
	</div>
	<% end %>

	<div id='strip3'>
		<div id='strip3_content'>
			<div id='text'>
			<h2>Features and benefits</h2>
			<h3>Are you fed up of having to wait at the doctors to have your blood pressure monitored?</h3>
			<p>By using this site, you’ll be able to measure your own blood pressure at home. You’ll have a safe place to store the readings. You’ll be able to see when your next reading is due. You’ll be able to see whether your blood pressure needs treating. And you’ll be able to do it at a time and place that suits you.</p>
			<p>You’ll be able to access our website anytime of the day or night. This means that you’ll avoid having to make repeated telephone calls to your doctor’s surgery to get an appointment. You’ll also be able to measure your blood pressure and record it whenever you want. You won’t have to take time out of your day at inconvenient times for trips to the doctors. Because you can log on straight away, it’ll also mean that you won’t waste time waiting to be seen. Our website is available all day, every day, straight away!</p>
			<br />
			<h3>Are you worried that you may be taking unnecessary blood pressure medication?</h3>
			<p>Another benefit of measuring your blood pressure at home and using our site is that it gives you a more accurate reading of your blood pressure. Because you get a more accurate reading, it means that you’re less likely to need unnecessary treatment based on a few high readings.</p>
			<p>Your blood pressure tends to go up and down depending on what you’ve been doing. This means that when you measure it at different times of day, you’ll get different readings. Your blood pressure can go up during exercise or after you drink a cup of coffee. It can also go up when you are stressed.</p>
			<p>Another thing that can send your blood pressure up is going to the doctors. This is known as “white coat hypertension”. It used to be thought that it wasn’t very common. As more research has been done, we now know that for most people your blood pressure is lower when you measure it at home.</p>
			<p>This means that if you measure your blood pressure at home, it is more likely to give you a true reading of what your blood pressure is.This may mean that you don’t need to take medication.</p>
			<p>Because your blood pressure does vary from hour to hour, it is also better to take an average of a number of readings. To help you with this we’ll remind you to measure your blood pressure, and our easy to use website will talk you through the process step by step. This way you can be confident that you’ll be getting the best possible measurement of your blood pressure.</p>
			<p>Every time you measure your blood pressure, you’ll get a clear display telling you what your average blood pressure is, and whether it is likely that you’ll need treatment. You can also feel safe as if at any point we feel that you need to contact your own doctor, we’ll let you know.</p>
			<br />
			<h3>Do you want to be in charge of choosing how you treat your blood pressure?</h3>
			<p>By using our site, you’ll be presented with clear, easy to understand information about your blood pressure. If you need treatment, then we’ll present you with different options that are available for you to try. Each option will tell you about the benefits, the common side effects, and the reason that it has been recommended for you.</p>
			<p>If you don’t like the options that we give you, we’ll give you the chance to look at some more. You will have as much time as you want to make up your mind. If you want to log off and take time to think about it then you can. The next time you log on, we’ll be able to give you the same options.</p>
			<p>By doing this, we’ll put you in charge of your medication choice. You won’t be feeling pressured by a busy doctor into making a decision. You’ll be free to make your decision in your own time. At any point you’ll be able to change your mind, or go back to review the reasons that you made your decision.</p>
			<p>Once you’ve made your decision there is absolutely no obligation on you to get your medication through our service. If you just want to use our site as a resource to measure and store your average blood pressure then that’s absolutely fine by us, and completely free of charge.</p>
			<br />
			<h3>Do you want picking up your prescription to be as easy as a click of your mouse and a knock at your door?</h3>
			<p>When you decide to use our prescription service, you’ll find out just how cheap and easy it’ll be to get your medication. For a price comparable to only three month’s prescription charges you’ll be able to get your prescription delivered to your doorstep or your local pharmacy. We’re so confident that you’ll love our service that we’ll give you a 100% money back guarantee if you’re not completely satisfied.</p>
			</div>
		</div>
	</div>
	
</div>

