<% if flash[:notice] %>
	<div id="notice"><%= notice %></div>
<% end %>

<div id='main'>
	<h1>Home</h1>
	<p>This page should act as a hub to the rest of the site, aimed at those who aren't yet signed-up. So I think we should have details about the service, links to useful information (on our site), a link to the BP wizard etc</p>
</div>