<div id='main_full_width'>
	<h3>Some interesting stuff...</h3>
		<p>Blah blah blah blah...</p>
	<div id='call_to_action'>
		<%= link_to('Enter some BP readings NOW!', router_current_bps_path, :class => 'button3') %>
	</div>
</div>
