<div id='main_full_width'>
	<h3>Welcome back</h3>
		<p>Many thanks for returning to HomeBloodPressure.co.uk to take some more blood pressure readings.</p>
		<p>We are sorry for the inconvenience, but are currently developing this part of the site. Rest assured, your account is still active and your readings are still safely stored. We will send you an email once this part of the site is active again.</p>
		<p>Best wishes,</p>
		<p>The HomeBloodPressure.co.uk team</p>
</div>
