<div id='main_full_width'>
	<div id='tac'>
	<h1>Terms and Conditions</h1>
	<p>By using this service you are confirming that you understand and agree to be legally bound by these Terms and Conditions.</p>
	<p>IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS YOU SHOULD NOT USE THIS SERVICE.</p>
	
	<h3>1. Privacy and security</h3>
	<p>Your privacy is important to us and the following information explains how we will use and protect it.</p>
	<h4>a. Privacy of your information</h4>
		<p> HomeBloodPressure.co.uk complies with the Data Protection Act 1998. We will use the information you provide with other information we obtain about you to:</p>
		<p>- administer and provide the goods and/or services you request.</p>
		<p>- improve our products and services.</p>
		<p>- sometimes send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</p>
		<p>- from time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the website according to your interests.</p>
		<p>Without your permission we will not share your personal information with any organisation other than those directly involved in delivering our services. With your consent and provided you provide the name, email and fax number for your GP, we will always offer to inform your GP of any medicines that we prescribe.</p>
	<h4>b. Security</h4>
		<p>HomeBloodPressure.co.uk uses security technology, including firewalls and Secure Socket Layers to protect information submitted through this website and has procedures in place to ensure paper and computer systems and databases are protected against unauthorised disclosure, use, loss and damage. Nevertheless, electronic transmissions are never completely private or secure and there is a risk, therefore, that any electronic communications sent may be intercepted and potentially read by others. You should, therefore, ensure that any computer you use to access our service is suitably protected from potential interception.</p>
	<h4>c. How we use cookies</h4>
		<p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. Please refer to <%= link_to 'www.allaboutcookies.org', 'http://www.allaboutcookies.org', :target => "_blank" %> for more information.</p>
		<p>We use cookies as this is the most secure way for us to pass information you enter into our website onwards to our doctors. Other methods of achieving this do not meet our security standards and so our service and the website is not available without the use of cookies.</p>
		<p>We also use traffic log cookies to identify which pages are being used, (Google Analytics and Adwords conversion tracking). This helps us analyse data about web page traffic and improve our website in order to tailor it to our patients’ needs. We only use this information for statistical analysis purposes and then the data is removed from the system.</p>
		<p>Overall, cookies help us provide you with a better website, by providing secure transfer of information around the site and by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>
		<p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. However, this will prevent you from making use of the website. Continuing to use the website implies consent to the use of cookies.</p>
	<h4>d. Links to other websites</h4>
		<p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>
	<h4>e. Controlling your personal information</h4>
		<p>You may choose to restrict the collection or use of your personal information at any time by contacting us via the website or writing to us at the address below.</p>
		<p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.</p>
		<p>You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to HomeBloodPressure.co.uk, 93 Palmerston Street, Derby, DE23 6PF.</p>
		<p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible. We will promptly correct any information found to be incorrect.</p>
	
	<h3>2. Registration</h3>
		<p>In order to use the service, you will be required to register with HomeBloodPressure.co.uk. We reserve the right to suspend or terminate access to our service at any time if we believe that your continued use of our services will prejudice others or us. By registering to use the service, you:</p>
		<p>- confirm that the information you provide is accurate and complete; and</p>
		<p>- agree to keep your username and password confidential and to take reasonable steps to protect and not to share your login details with anyone; and</p>
		<p>- confirm that you are aged 18 or over.</p>
	
	<h3>3. Our commitment to you</h3>
		<p>HomeBloodPressure.co.uk commits:</p>
	<h4>a. Professional responsibility</h4>
		<p>To take professional responsibility for each patient who uses the service to the same extent as a doctor would have responsibility when meeting a patient face to face.</p>
	<h4>b. Compliance</h4>
		<p>To provide a professional and transparent service that complies with General Medical Council Guidelines on remote prescribing and clinical best practice in England. (Click <%= link_to 'here', 'http://www.gmc-uk.org/', :target => '_blank' %> to access the GMC website)</p>
	<h4>c. Provide identification</h4>
		<p>To volunteer their name and General Medical Council professional registration number when prescribing medicines and communicating with patients.</p>
	<h4>d. Prescribe in the best interest of the patient</h4>
		<p>To prescribe medicines only when in their professional judgment it is in the patient's best interests to receive the medicine and, accordingly, to refuse to prescribe medicines when they believe it is not in the patient's best interests to receive medicines without the benefit of a face to face consultation.</p>
	<h4>e. Privacy</h4>
		<p>To take all reasonable steps to protect patients' personal information as described in paragraph 1 above.</p>
	
	<h3>4. Your commitments when using the service</h3>
		<p>As the patient, you commit:</p>
	<h4>a. Accurate information</h4>
		<p>To answer all questions truthfully and fully.</p>
	<h4>b. Personal registration</h4>
		<p>To not register more than once.</p>
	<h4>c. Registration for someone other than yourself</h4>
		<p>Not to register for, or use this service, on behalf of someone else.</p>
	<h4>d. Comply with instructions</h4>
		<p>To read carefully, each communication before taking any medicines that our doctors have prescribed and to comply with any instructions given for each medicine. In the event that you are uncertain as to how to take any medicine we have provided to you, you will contact us and not take the medicine until you have sufficient information from us and understand the correct instructions.</p>
	<h4>e. Decisions at HomeBloodPressure.co.uk</h4>
		<p>To accept HomeBloodPressure.co.uk’s decision when our doctor determines that it is not in your best interests to receive medicine without the benefit of a face-to-face consultation.</p>
	<h4>f. Notify your GP</h4>
		<p>We will always offer to notify your GP of any medicines that we have prescribed, but if you decline to take up our offer to contact your GP, it is your responsibility to notify your GP (see paragraph 1a above). If you decide not to notify your GP, it is important that you keep a record of any medicines that we have prescribed.</p>
	<h4>g. Protect medicines</h4>
		<p>To ensure that no-one other than yourself has access to any medicines that we make available to you.</p>
	<h4>h. Expiry date</h4>
		<p>To ensure that any medicines prescribed in advance of need are not used beyond their expiry date.</p>
	<h4>i. Notify side-effects</h4>
		<p>To inform HomeBloodPressure.co.uk if you experience any side-effects from any medicines we make available to you.</p>
	
	<h3>5. Information and advice</h3>
		<p>The information and advice provided by HomeBloodPressure.co.uk when you use the service is based on the information you have supplied to us. It is your responsibility to ensure this information is correct and complete and you accept that failure to do so (whether intentionally or not) will affect the information and advice we give to you and the medicines we supply to you and, as such, may have consequences for which we are not responsible. We aim to respond to all requests for information and advice within 24 hours.</p>
	
	<h3>6. Pricing</h3>
		<p>All prices on this website are in pounds sterling and include VAT unless expressly stated otherwise. We take care to ensure that all pricing information on our website is accurate but occasionally there may be an error. In the event that an error has occurred and the price charged is too high, we will identify all those that have overpaid and refund the difference.</p>
	
	<h3>7. Placing and cancelling an order for a prescription</h3>
		<p>When our service includes the provision of a prescription for medicines, at the point that you pay for the prescription we will have commenced our service and there will be no ability to cancel it after this point. As such you will have no legal right to cancel your order under the Consumer Protection (Distance Selling) Regulations.</p>
	
	<h3>8. Payment and refunds</h3>
		<p>In providing payment card details, you confirm that you are authorised to use the card and authorise us, or our payment service provider, to take payment in full for the items in your order and any associated postage and packaging fees and any other charges that become due to us under these terms and conditions. Refunds, if applicable, will only be made using the payment gateway (e.g Paypal) to the card originally used for payment. Refunds may take up to five working days to appear on a card statement.</p>
		
	<h3>9. Delivery of prescriptions</h3>
		<p>Prescriptions for delivery by post will be dispatched normally within one working day of the doctor authorising the supply of the medicine. All prescriptions are sent out using Royal Mail Special Delivery, for delivery the next working day before 1pm.</p>
	
	<h3>10. Signature on delivery of medicines</h3>
		<p>It is your responsibility to ensure that someone is available to sign for any prescriptions that are delivered at your chosen delivery address or to collect the prescription from Royal Mail yourself. The person signing for prescriptions does not need to be the named patient. You acknowledge and accept that we have no control over the postal system and we have no liability in respect of items that are not received by you after we have dispatched them. It is your responsibility to ensure that the person signing for the prescriptions delivers them to you.</p>
	
	<h3>11. Notification of errors</h3>
		<p>You should check each prescription promptly upon receipt. If you believe that it contains any errors you should contact us immediately.</p>
	
	<h3>12. Our liability to you</h3>
		<p>HomeBloodPressure.co.uk accepts full clinical responsibility for all of its patients to the full extent that the law requires. We will not be liable for any loss or damage (in contract negligence or otherwise) where:</p>
		<p>- There is no breach of a legal duty of care owed to you by us or;</p>
		<p>- The loss or damage is not a reasonably foreseeable result of any such breach or;</p>
		<p>- Any loss or damage or increased risk of loss or damage results from a breach by you of these terms and conditions.</p>
		<br />
		<p>In particular, we are not responsible for:</p>
		<p>- loss or damage caused by you providing inaccurate or incomplete information;</p>
		<p>- loss of your emotional well-being including, but not limited to, any embarrassment caused;</p>
		<p>- loss of income or anticipated profits;</p>
		<p>- loss of opportunity;</p>
		<p>- loss of goodwill or injury to reputation;</p>
		<p>- losses suffered by third parties; or</p>
		<p>- any indirect, consequential, special or exemplary damages arising from the use of the service regardless of the form of action.</p>
		<br />
		<p>Nothing in these terms and conditions excludes or limits our liability for death or personal injury caused by our negligence or for fraud or fraudulent misrepresentation. Nothing in these terms and conditions affects your statutory rights.</p>
	
	<h3>13. Information on this website</h3>
		<p>We take care to ensure that all information available on our website about our business, services and any products mentioned is accurate. However, these are continually developing and, occasionally, the information may be out of date. General medical information provided on the website – as opposed to personalised information you may receive via email or when signed in to your account - is not a substitute for specific and personalised medical advice and should not be read or used as such.</p>
	
	<h3>14. Links from this website</h3>
		<p>We may, from time to time, provide links from this website to websites that are owned and controlled by third parties. These links are provided only for your convenience and we have no control over and will have no liability in respect of those websites.</p>
	
	<h3>15. Use of the service outside of the United Kingdom</h3>
		<p>HomeBloodPressure.co.uk makes no claims or representations that any or all of the content on this website, or the service may be lawfully viewed, downloaded or used outside the United Kingdom. Unless otherwise expressly stated, the content, this website and the service is directed solely at users who access this website from within the United Kingdom.</p>
		<p>If you choose to access the website from outside of the United Kingdom you do so at your own risk and are responsible for compliance with the laws of your jurisdiction.</p>
	
	<h3>16. Third party rights</h3>
		<p>Nothing in these Terms and Conditions is intended to, nor shall it confer a benefit on any third party under the Contracts (Rights of Third Parties) Act 1999 and a person who is not a party to these Terms and Conditions has no rights to enforce them.</p>
	
	<h3>17. Waiver</h3>
		<p>No delay or decision not to enforce rights under these Terms and Conditions will constitute a waiver of the right to do so and will not affect rights in relation to a subsequent breach.</p>
	
	<h3>18. Governing law</h3>
		<p>These Terms and Conditions are subject to the laws of England and each of us hereby submits to the non-exclusive jurisdiction of the English courts.</p>
		<p>We reserve the right to change these terms and conditions at any time. The new version will be posted on this website and will take effect immediately upon posting. If you use this website after the new terms and conditions have come into effect, you will be indicating your agreement to be bound by the new terms and conditions.</p>
	</div>
</div>