<div id='main'>
	
	<div id='strip1'>
		<div id='strip1_content'>
			<% if !user_signed_in? %>
				<h2>The best blood pressure treatment</h2>
				<h3>FREE advice from UK GPs.</h3>
				<h4>Online. Anytime.</h4>
			<% end %>
		</div>
	</div>
	
	<div id='strip5'>
		<div id='strip5_content'>
			<%= render :partial => 'devise/registrations/new' %>
		</div>
	</div>
	
</div>
