<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h1>Blood Pressure Treatment</h1>
			<p id='landing_page_subtitle'>Get FREE advice on treating your blood pressure from experienced UK GPs</p>
		</div>
	</div>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='text'>
				<h3>It's Friday morning...</h3>
				<p>...and you’ve got a whole week’s work to do before the end of the day. Every morning you’ve been trying to get an appointment with your doctor. Every time you call it’s engaged. You try again, fingers crossed… On the third attempt… success!</p>
				<p id='conversation'>
					‘Hello, doctors’ surgery. How can I help?’<br />
					‘Could I please make an appointment for a blood pressure check?’<br />
					‘Sorry, there are no appointments left. You can try calling again tomorrow morning...’
				</p>
				<p id='solution'>Problem solved! With a home blood pressure monitor and HomeBloodPressure.co.uk you can check and treat your blood pressure anywhere, anytime. Giving you more time to spend on the things you love.</p>
			</div>
		</div>
	</div>
	
	<div id='strip2'>
		<div id='strip2_content'>
			
			<div id='text_landing_page'>
				<table>
					<tr>
						<td class='number'>1.</td>
						<td>Measure your blood pressure</td>
					</tr>
					<tr>
						<td class='number'>2.</td>
						<td>Get FREE personalised advice from UK GPs</td>
					</tr>
					<tr>
						<td class='number'>3.</td>
						<td>Have prescriptions delivered to your door</td>
					</tr>
					<tr id='arrow'>
						<td colspan="2"><%= image_tag('arrow-right-blue.gif') %></td>
					</tr>
				</table>
			</div>
			<div class='clear_float'></div>
		</div>
	</div>
	
</div>
