<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h1>Blood Pressure Treatment</h1>
			<p id='landing_page_subtitle'>Get advice on treating your blood pressure from experienced UK GPs</p>
		</div>
	</div>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='text'>
				<h2>It's Friday morning...</h2>
				<p>...and you’ve got a whole week’s work to do before the end of the day. Every morning you’ve been trying to get an appointment with your doctor. Every time you call it’s engaged. You try again, fingers crossed… On the third attempt… success!</p>
				<p id='conversation'>
					"Hello, doctors’ surgery. How can I help?"<br />
					"Could I please make an appointment for a blood pressure check?"<br />
					"Sorry, there are no appointments left. You can try calling again tomorrow morning..."
				</p>
				<p><span class='black'>Problem solved!</span> With the help of the doctors at HomeBloodPressure.co.uk you can use a home blood pressure monitor to check <span class='italic'>and treat</span> your blood pressure anywhere, anytime. Giving you more time to spend on the things you love.</p>
			</div>
		</div>
	</div>
	
	<div id='strip2'>
		<div id='strip2_content'>
			
			<div id='text_landing_page'>
				<table>
					<tr>
						<td class='number'>1.</td>
						<td>Buy a home blood pressure monitor</td>
					</tr>
					<tr>
						<td class='number'>2.</td>
						<td>Under our guidance, measure your blood pressure and record it on our site</td>
					</tr>
					<tr>
						<td class='number'>3.</td>
						<td>If you need treatment, we'll help you decide which treatment is best for you</td>
					</tr>
					<tr>
						<td class='number'>4.</td>
						<td>Get prescriptions delivered to your door</td>
					</tr>
				</table>
				<div id='button'>
					<%= link_to 'Find out more...', find_out_more_path, :class => 'button3 button8' %>
				</div>
			</div>
		</div>
	</div>
	
</div>
