/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

h1 {
  font-size: 20pt;
  color: #0844a4;
  font-weight: normal;
  margin-top: 10px; }

#content {
  float: left;
  width: 935px;
  padding: 0px 0px 0px 15px;
  background-image: linear-gradient(left top, white 5%, #e5efff 61%, #dde5f0 100%);
  background-image: -o-linear-gradient(left top, white 5%, #e5efff 61%, #dde5f0 100%);
  background-image: -moz-linear-gradient(left top, white 5%, #e5efff 61%, #dde5f0 100%);
  background-image: -webkit-linear-gradient(left top, white 5%, #e5efff 61%, #dde5f0 100%);
  background-image: -ms-linear-gradient(left top, white 5%, #e5efff 61%, #dde5f0 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.05, white), color-stop(0.61, #e5efff), color-stop(1, #dde5f0)); }
  #content #main {
    float: left;
    width: 650px; }
    #content #main p {
      margin: 0px 45px 0px 25px;
      color: #000000; }
    #content #main #input_bp {
      margin-top: 20px; }
      #content #main #input_bp #input_bp_boxes {
        margin: 0px 210px 0px 200px; }
      #content #main #input_bp #error_wrapper {
        margin-left: 120px; }
      #content #main #input_bp #submit {
        float: left;
        margin: 20px 0px 0px 260px; }
    #content #main #sign_up, #content #main #sign_in, #content #main #forgot_pwd {
      float: left;
      width: 400px;
      margin: 30px 0px 10px 40px;
      border-style: solid;
      border-width: 2px;
      border-color: #033076;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: #ffffff; }
      #content #main #sign_up #nav_form, #content #main #sign_in #nav_form, #content #main #forgot_pwd #nav_form {
        padding: 20px; }
        #content #main #sign_up #nav_form td, #content #main #sign_in #nav_form td, #content #main #forgot_pwd #nav_form td {
          padding-right: 20px; }
        #content #main #sign_up #nav_form #tac_msg, #content #main #sign_in #nav_form #tac_msg, #content #main #forgot_pwd #nav_form #tac_msg {
          vertical-align: top; }
        #content #main #sign_up #nav_form #tac_error_msg, #content #main #sign_in #nav_form #tac_error_msg, #content #main #forgot_pwd #nav_form #tac_error_msg {
          text-align: center;
          margin: 5px 0px 5px 0px;
          color: #ff0000; }
        #content #main #sign_up #nav_form #sign_up_button, #content #main #sign_in #nav_form #sign_up_button, #content #main #forgot_pwd #nav_form #sign_up_button {
          float: left;
          padding: 10px 0px 20px 50px; }
        #content #main #sign_up #nav_form #sign_in_button, #content #main #sign_in #nav_form #sign_in_button, #content #main #forgot_pwd #nav_form #sign_in_button {
          padding: 10px 0px 20px 80px; }
        #content #main #sign_up #nav_form #forgot_pwd_button, #content #main #sign_in #nav_form #forgot_pwd_button, #content #main #forgot_pwd #nav_form #forgot_pwd_button {
          padding: 10px 0px 20px 30px; }
        #content #main #sign_up #nav_form #forgot_pwd_txt, #content #main #sign_in #nav_form #forgot_pwd_txt, #content #main #forgot_pwd #nav_form #forgot_pwd_txt {
          text-align: center; }
        #content #main #sign_up #nav_form #user_email, #content #main #sign_up #nav_form #user_password, #content #main #sign_up #nav_form #user_password_confirmation, #content #main #sign_in #nav_form #user_email, #content #main #sign_in #nav_form #user_password, #content #main #sign_in #nav_form #user_password_confirmation, #content #main #forgot_pwd #nav_form #user_email, #content #main #forgot_pwd #nav_form #user_password, #content #main #forgot_pwd #nav_form #user_password_confirmation {
          width: 160px; }
    #content #main #sign_in {
      width: 300px; }
    #content #main #warning_msg {
      color: #ff0000; }
  #content #average_bp_container {
    width: 250px;
    height: 340px;
    margin-top: 50px;
    float: left; }
    #content #average_bp_container #average_bp {
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
      border-style: solid;
      border-width: 2px;
      border-color: #033076;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: #ffffff; }
      #content #average_bp_container #average_bp #bar {
        width: 35px;
        margin: 20px 0px 0px 60px; }
        #content #average_bp_container #average_bp #bar #redbar {
          background-color: #e61610;
          width: 35px;
          height: 80px; }
        #content #average_bp_container #average_bp #bar #amberbar {
          background-color: #ffb253;
          width: 35px;
          height: 80px; }
        #content #average_bp_container #average_bp #bar #greenbar {
          background-color: #72bb53;
          width: 35px;
          height: 80px; }
      #content #average_bp_container #average_bp #readout {
        z-index: 1;
        position: absolute;
        left: 40px; }
        #content #average_bp_container #average_bp #readout #line {
          float: left;
          border-style: solid;
          border-width: 2px;
          border-color: #000000;
          background-color: #000000;
          height: 1px;
          width: 80px; }
        #content #average_bp_container #average_bp #readout #reading {
          float: left;
          margin-top: -30px;
          width: 70px;
          border-style: solid;
          border-width: 2px;
          border-color: #000000;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
          background-color: #ffffff;
          color: #000000;
          font-size: 16pt;
          text-align: center;
          padding: 10px; }
          #content #average_bp_container #average_bp #readout #reading #mmHg {
            font-size: 12pt;
            text-align: center; }
      #content #average_bp_container #average_bp #learn_more {
        margin: 5px 0px 0px 50px; }
  #content #how_to_measure_bp {
    float: left;
    margin: 20px 0px 30px 0px; }
    #content #how_to_measure_bp p {
      margin: 0px 45px 0px 25px;
      color: #000000; }

#title {
  border-style: solid;
  border-width: 2px;
  border-color: #033076;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #033076;
  color: #ffffff;
  font-size: 18pt;
  text-align: center;
  padding: 8px; }

#current_bp_sysbp, #current_bp_diabp {
  width: 70px;
  padding: 5px;
  font-size: 12pt;
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: #033076; }

#slash {
  float: left;
  font-size: 16pt;
  padding: 10px 10px 0px 10px; }

#mmhg {
  float: left;
  font-size: 8pt;
  padding: 10px 0px 0px 10px; }
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a:link, a:visited {
  text-decoration: none;
  color: #0000FF; }

a:hover {
  text-decoration: underline; }

#notice {
  float: left;
  width: 300px;
  margin: 10px 313px 10px 300px;
  padding: 5px 10px 5px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #aedd94;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #aedd94;
  text-align: center;
  color: #000000; }

.field_with_errors {
  float: left;
  padding: 1px;
  background-color: red;
  display: table; }

#error_explanation {
  float: left;
  width: 350px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin: 10px 0px 0px 0px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

#container {
  font-family: arial, sans-serif;
  font-size: 10pt;
  width: 950px;
  float: left;
  visibility: hidden; }

#header {
  position: relative;
  float: left; }

#topbannertitle {
  position: absolute;
  top: 18px;
  left: 35px;
  font-size: 20pt;
  font-weight: bold;
  color: #033076; }

#user_nav {
  float: left;
  position: absolute;
  top: 15px;
  left: 780px;
  font-size: 8pt; }
  #user_nav #sign_in {
    width: 70px;
    float: left; }
  #user_nav #sign_up {
    width: 70px;
    float: left;
    margin-left: 12px; }
  #user_nav #sign_out {
    width: 90px;
    margin: -5px 0px 0px 62px;
    float: left;
    line-height: 14px; }

.button1 {
  display: block;
  text-align: center;
  padding: 3px 6px 3px 6px;
  border: 1px solid #033076;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #D4E3FC;
  cursor: pointer; }

a.button1:link, a.button1:visited {
  color: #000000; }

a.button1:hover {
  text-decoration: none;
  background-color: #e7f0fd; }

.button2 {
  background-color: #72bb53; }

a.button2:hover {
  background-color: #92d36e; }

.button3 {
  display: block;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border: 1px solid #033076;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #72bb53;
  cursor: pointer; }
  .button3:hover {
    background-color: #92d36e; }
  .button3 span {
    font-size: 14pt; }

.button4 {
  display: block;
  text-align: center;
  padding: 5px 15px 5px 15px;
  border: 1px solid #033076;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: #D4E3FC;
  font-size: 12pt;
  cursor: pointer; }
  .button4:hover {
    background-color: #ffffff; }

#topmenu {
  width: 950px;
  height: 30px;
  margin-bottom: 10px;
  float: left;
  background-color: #032F76;
  background-image: linear-gradient(bottom, #033076 75%, #d4e3fc 93%, white 100%);
  background-image: -o-linear-gradient(bottom, #033076 75%, #d4e3fc 93%, white 100%);
  background-image: -moz-linear-gradient(bottom, #033076 75%, #d4e3fc 93%, white 100%);
  background-image: -webkit-linear-gradient(bottom, #033076 75%, #d4e3fc 93%, white 100%);
  background-image: -ms-linear-gradient(bottom, #033076 75%, #d4e3fc 93%, white 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.75, #033076), color-stop(0.93, #d4e3fc), color-stop(1, white)); }

.topmenucontent {
  float: left; }

.topmenucontent a {
  display: block;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  font-size: 10pt;
  padding: 7px 15px 4px 15px; }

.topmenucontent a:link, .topmenucontent a:visited, .topmenucontent a:hover {
  color: #ffffff; }

.topmenucontent a:hover {
  text-decoration: none;
  background-color: #6882AD;
  background-image: linear-gradient(bottom, #6882ad 75%, #f0f6ff 93%, white 100%);
  background-image: -o-linear-gradient(bottom, #6882ad 75%, #f0f6ff 93%, white 100%);
  background-image: -moz-linear-gradient(bottom, #6882ad 75%, #f0f6ff 93%, white 100%);
  background-image: -webkit-linear-gradient(bottom, #6882ad 75%, #f0f6ff 93%, white 100%);
  background-image: -ms-linear-gradient(bottom, #6882ad 75%, #f0f6ff 93%, white 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.75, #6882ad), color-stop(0.93, #f0f6ff), color-stop(1, white)); }

#bottombar {
  width: 950px;
  margin: 30px 0px 10px 0px;
  font-size: 8pt;
  text-align: center;
  float: left; }

#bottombar a {
  margin: 0px 20px 0px 0px;
  color: #000000; }
#main_full_width {
  width: 930px; }
  #main_full_width p {
    margin: 0px 45px 10px 25px;
    color: #000000; }
  #main_full_width #call_to_action {
    margin-left: 375px;
    width: 200px; }
    #main_full_width #call_to_action a:link, #main_full_width #call_to_action a:visited, #main_full_width #call_to_action a:hover {
      color: #000000;
      text-decoration: none; }

h3 {
  font-size: 16pt;
  color: #0844a4;
  font-weight: normal;
  margin: 30px 0px 10px 0px; }

h4 {
  font-size: 12pt;
  margin-bottom: 5px;
  font-weight: bold; }
