<div id='main'>
	<h1>Contact ALL users</h1>
	
	<p>Warning! You are about to mail ALL users. Use with caution!</p>

	<div id='contact_us'>
	
	<div id='title'>
		Contact ALL users
	</div>
	
	<%= render 'form' %>
	
</div>
</div>


