<div id='main'>
	<%= render 'info/treating_bp_title' %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='welcome'>
				<h2>How can acupuncture help my blood pressure?</h2>
			</div>
			
			<%= render 'info/questions' %>
			
			<div id='text'>
			<p>Although you may wish to try acupuncture to see if it helps with your blood pressure, at the moment we do not know whether it is helpful.</p>
			</div>
		</div>

	</div>
</div>
