<div id='main'>
	<%= render 'info/treating_bp_title' %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='welcome'>
				<h2>Which supplements can help treat my blood pressure?</h2>
			</div>
			
			<%= render 'info/questions' %>
			
			<div id='text'>
			<p>You may wish to try supplements to control your blood pressure. Unfortunately calcium and magnesium supplements have not been shown to have a clinically significant effect on your blood pressure. And contrary to popular belief, potassium supplements have no effect on your blood pressure at all.</p>
			</div>
		</div>

	</div>
</div>
