<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h1>When you should measure your blood pressure</h1>
			<p id='first'>FREE advice from UK GPs.</p>
			<p id='second'>Online. Anytime.</p>
			<div class='clear_float'></div>
		</div>
	</div>
	
	<% if !user_signed_in? %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<h2>When should I measure my blood pressure?</h2>
			<p>Text advising people when to measure their blood pressure.</p>
		</div>
	
	</div>
</div>