<div id='main'>
	<div id='sign_in'>
		<div id='heart_bp_monitor_pic'>
			<%= image_tag("heart_bp_monitor_small.jpg", size: '150x120') %>
		</div>
		
		<div id='questions'>
			<div id='q1'><h3></h3></div>
			<div id='q2'><h3>Welcome back!</h3></div>
			<div id='q3'><h3>Sign in to continue controlling your blood pressure</h3></div>
			<div id='q4'><h3></h3></div>
		</div>
	</div>
	
	<div style ="float:left; height:200px; width:270px;"></div>
	
	<div id='sign_in_partial'>
		<%= render :partial => 'devise/sessions/new' %>
	</div>
</div>

