<div id='title'>
	My blood pressure
</div>

<div id='bar'>
	<div id='redbar'>
	</div>
	<div id='amberbar'>
	</div>
	<div id='greenbar'>
	</div>
</div>

<div id='readout' style="top:<%= number_with_precision(bppos, :precision => 0) %>px;">
	<div id='line'>
	</div>
	<div id='reading'>
		<%= number_with_precision(avsys, :precision => 0) %>/<%= number_with_precision(avdia, :precision => 0) %>
		<div id='mmHg'>
			mmHg
		</div>
	</div>
</div>

<div id='learn_more'>
	<a href="">Learn more</a>
</div>
