<div id='main_full_width'>
	<div id='how_to_measure_bp'>
	<h1>How to measure your blood pressure</h1>
	
	<p>A few simple steps will ensure that you get an accurate reading.</p>
	
	<div id='cta_bp_entry'>
			<div id='title'>
				Is my blood pressure too high?
			</div>
			<p>Enter some blood pressure readings and we'll answer that question right away!</p>
			<div id='input_bp'>
				<%= render 'form' %>
			</div>
			<%= link_to "How do I measure my blood pressure?", how_to_measure_bp_current_bps_path, :class => 'how_to_measure_bp' %>
	</div>
	
	<h3>Make sure you are relaxed</h3>
		<p>Rest for five minutes before taking a blood pressure reading. Make sure you are sat down in a quiet place with your feet resting on the floor. Don't take readings when you need the toilet or have just eaten a big meal, or within thirty minutes of smoking or drinking caffeine.</p>
	
	<h3>Choose an arm</h3>
		<p>Use the same arm each time you measure your blood pressure. It doesn't matter which arm you choose UNLESS there is more than a 20mmHg difference in the readings between the two sides, in which case use the side which gives the higher reading.</p>

	<h3>Prepare your arm</h3>
		<p>Wear loose-fitting clothes so you can comfortably push up your sleeve. Make sure your arm is supported and at the same level as your heart - you may need to use a cushion to achieve this. Ensure your arm is relaxed rather than tense.</p>

	<h3>Take a reading</h3>
		<p>Put the cuff on your arm and take a blood pressure reading, following the instructions that came with your monitor. When you are taking the reading make sure you stay still and silent, as moving and talking can affect the result.</p>

	<h3>Record your blood pressure</h3>
		<p>The pair of numbers displayed on your monitor are your blood pressure; the larger number is the systolic value (this is the pressure in your arterial blood vessels when the heart beats to pump blood around your body), the lower number is the diastolic value (this is the pressure in your arterial blood vessels when the heart is relaxed, i.e. between heart beats). Please record them both as they are equally important. If there is also a single number displayed it will be your pulse measurement. This doesn't need to be recorded.</p>

	<h3>Take a second reading</h3>
		<p>Wait for a minute and then take a second reading. A pair of readings provides a more accurate picture of your blood pressure.</p>
	
	</div>
</div>