<div id='main'>
	
	<div id='strip1'>
		<% if !user_signed_in? %>
			<div id='strip1_content'>
				<h1>The best blood pressure treatment</h1>
				
			</div>
		<% end %>
	</div>
	
	<div id='strip2'>
		<div id='strip2_content'>
			<div id='text'>
			<h2>Is your blood pressure too high?</h2>
			
			<% if @bp_entry_details[:reading_no] == '1' %>
				<% if old_bp_datetime_text == "" %>
					<p>Whilst seated and relaxed, please take a blood pressure reading for us now and enter it in the boxes below:</p>
				<% else %>
					<p>Please enter the <span>first</span> blood pressure reading from <span><%= old_bp_datetime_text %></span> into the boxes below:</p>
				<% end %>
			<% else %>
				<p>Thank you.</p>
				<% if old_bp_datetime_text == "" %>
					<p>Please stay seated and relaxed for at least 1 minute, then take a second reading and enter it in the boxes below:</p>
				<% else %>
					<p>Please enter the <span>second</span> blood pressure reading from <span><%= old_bp_datetime_text %></span> into the boxes below:</p>
				<% end %>
			<% end %>
			
			<div id='input_bp'>
				<%= render 'current_bps/form' %>
				
				<div style='height:200px;'>
				</div>
			</div>
			</div>
			
		</div>
	</div>

</div>