<div id='main'>
	<h1>Is my blood pressure too high?</h1>
	<p>Provide us with some blood pressure readings and we'll answer that question right away!</p><br />
	<p>Whilst seated and relaxed, please take a blood pressure reading for us now and enter it in the boxes below:</p>
	<div id='input_bp'>	
		<%= render 'form' %>
	</div>
</div>

<div id='average_bp'>
</div>
