<div id='main'>
	<h1>Is my blood pressure too high?</h1>
	<p>Provide us with some blood pressure readings and we'll answer that question right away!</p><br />
	<p>Whilst seated and relaxed, please take a blood pressure reading for us now and enter it in the boxes below:</p>
	<div id='input_bp'>	
		<%= render 'form' %>
	</div>
</div>

<div id='average_bp'>
	<%= render :partial => 'average_bp', :locals => {:avsys => @average_sysbp, :avdia => @average_diabp} %>
</div>

<div id='how_to_measure_bp'>
	<h1>How do I measure my blood pressure?</h1>
	<p>If you need advice on how to measure your blood pressure, please see our <a href="">blood pressure measurement guide.</a></p>
</div>
