<h1>What is your blood pressure?</h1>

<% if @reading_count == 1 %>
	<p>Whilst seated and relaxed, please take a blood pressure reading for us now and enter it in the boxes below:</p>
<% end %>	

<% if @reading_count == 2 %>
	<p>Thank you. Now please take a second reading and enter it in the boxes below:</p>
<% end %>
	
<%= render 'form' %>

<%= link_to 'Back', current_bps_path %>
