<div id='main'>
	<h1>Is my blood pressure too high?</h1>
	
	<div id='right_side_boxes_container'>
	<% if !@average_sysbp.nil? %>
		<div id='average_bp'>
			<%= render :partial => 'account/average_bp', :locals => {:avsys => @average_sysbp, :avdia => @average_diabp, :bppos => @bp_position} %>
		</div>
	<% end %>
	</div>
	
	<p>Thank you.</p>
	
	<% if old_bp_datetime == "" %>
		<p>Please stay seated and relaxed for at least 1 minute, then take a second reading and enter it in the boxes below:</p>
	<% else %>
		<p>Please enter the second blood pressure reading from <%= old_bp_datetime %> into the boxes below:</p>
	<% end %>

	<div id='wizard_input_bp'>	
		<%= render 'form' %>
	</div>
	
	<div style='height:300px;'>
	</div>
	
	<h4>How do I measure my blood pressure?</h4>
	<p>If you need advice on how to measure your blood pressure, please see our <%= link_to "blood pressure measurement guide.", how_to_measure_bp_current_bps_path %></p>

</div>