<div id='main_full_width'>
	<div id='when_to_measure_bp'>
	<h1>When to measure your blood pressure</h1>
	
	<p>Several measurements are needed to provide a reliable value for your blood pressure. When to measure your blood pressure will depend upon your recent readings and whether there have been any changes to your lifestyle or medication. We can advise you about this.</p>
	
	<h3>Always take two readings</h3>
		<p>After taking a blood pressure reading, always wait for a minute and then take a second reading. Pairs of readings taken in this way provide a more accurate picture of your blood pressure.</p>
	
	<h3>When to monitor your blood pressure</h3>
		<p>When you are just starting to monitor your blood pressure it is advisable to take a pair of readings every morning and evening for at least four days, preferably seven. An average of these readings (ignoring the first day's readings) gives a reliable value for your blood pressure. After changes to your lifestyle or medications it is advisable to repeat this process.</p>
	
	<h3>Don't over do it!</h3>
		<p>At other times it is not necessary to take so many measurements; in fact, repeatedly measuring your blood pressure can make it higher! Checking your blood pressure once every one to two weeks is quite sufficient when there have been no changes to your lifestyle or medications.</p>
		
	</div>
</div>