<div id='main'>
	<p>It is no longer going to be possible for you to take a full set of blood pressure readings within 1 week. It may be that it has been more than a week since you started taking your current set of readings. Or it may be that even though a full week hasn't passed, you have now missed too many readings to catch up. To get a reliable set of blood pressure readings you need to take a pair of readings each morning and evening for 4 days. This set of readings must span no more than 1 week.</p>
</div>
