<div id='main'>
	
	<div id='strip1'>
		<div id='strip1_content'>
		</div>
	</div>
	
	<div id='strip5'>
		<div id='strip5_content'>
			<p>It is no longer going to be possible for you to take a full set of blood pressure readings within 1 week. It may be more than a week since you started taking your current set of readings. Or it may be that even though a full week hasn't passed, you have now missed too many readings to catch up.</p>
		
			<p>To get a reliable set of blood pressure readings you need to take a pair of readings each morning and evening for 4 days. This set of readings must span no more than 1 week.</p>
			<p>Click the restart button to begin a new set of blood pressure readings.</p>
			<div id='restart_button'>
				<%= link_to 'Restart', account_restart_path, method: :post, :class => 'button1 button2' %>		
			</div>
		</div>
	</div>

</div>
