<div id='main'>
	<h1>Is my blood pressure too high?</h1>
	
	<p>Congratulations! You have completed your set of blood pressure readings and are now ready to get personalised advice.</p>
	<p>One of our doctors will look at your readings and contact you by email.</p>
</div>
