<div id='main'>
	
	<div id='strip1'>
	</div>
	
	<div id='strip5'>
		<div id='strip5_content'>
			<p>Congratulations! You have completed your set of blood pressure readings and are now ready to get personalised advice.</p>
			<p>One of our doctors will look at your readings and contact you by email.</p>
		</div>
	</div>
	
</div>
