// Place all the styles related to the CurrentBps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 20pt;
  color: #0844a4;
  font-weight: normal;
  margin-top: 10px;
}



#content {
  float: left;
  width: 935px;
  padding: 0px 0px 0px 15px;
  background-color: #F1F6FF;
  background-image: linear-gradient(left top, #F1F6FF 5%, #E5EFFF 61%, #DDE5F0 100%);
  background-image: -o-linear-gradient(left top, #F1F6FF 5%, #E5EFFF 61%, #DDE5F0 100%);
  background-image: -moz-linear-gradient(left top, #F1F6FF 5%, #E5EFFF 61%, #DDE5F0 100%);
  background-image: -webkit-linear-gradient(left top, #F1F6FF 5%, #E5EFFF 61%, #DDE5F0 100%);
  background-image: -ms-linear-gradient(left top, #F1F6FF 5%, #E5EFFF 61%, #DDE5F0 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0.05, #F1F6FF),
    color-stop(0.61, #E5EFFF),
    color-stop(1, #DDE5F0)
  );
  
  #main {
    float: left;
    width:930px;
    
    p {
      margin: 0px 40px 25px 50px;
      color: #000000;
      
      span {
        font-weight: bold;
      }
    }
    
    p.more_space {
      margin-bottom: 30px;
    }
    
    p.extra_indent {
      margin-left: 70px;
    }
    
    p.big_notice {
      width: 400px;
      margin-left:100px;
      padding: 5px 10px 5px 10px;
      border-style:solid;
      border-width:2px;
      border-color:#aedd94;
      -webkit-border-radius:7px;
      -moz-border-radius:7px;
      border-radius:7px;
      background-color:#aedd94;
      text-align: center;
      font-size:12pt;
    }
    
    h3 {
      margin: 40px 0px 15px 0px;
      font-size: 14pt;
      color: #0844a4;
      font-weight: bold;
    }
      
    h4 {
      margin: 0px 0px 5px 20px;
      font-size: 12pt;
      color: #0844a4;
      font-weight: normal;
    }
    
    h5 {
      margin: 0px 0px 5px 50px;
      font-size: 10pt;
      color: #ffffff;
      font-weight: bold;
      padding: 5px 40px 5px 40px;
      background-color: #033076;
      display: inline;
    }
    
    #wizard_input_bp {
      margin-top: 20px;
      
      #input_bp_boxes {
        margin: 0px 210px 0px 200px;
      }
      
      #error_wrapper {
        margin-left: 120px;
      }
      
      #errorExplanation {
        width: 350px;
      }
      
      #submit {
        float:left;
        margin: 20px 0px 0px 260px;
      }
    }
    
    #sign_up_partial, #sign_in_partial, #forgot_pwd, #change_pwd {
      float: left;
      width: 400px;
      margin: 30px 0px 10px 40px;
      border-style:solid;
      border-width:2px;
      border-color:#033076;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      background-color:#ffffff;
      
      #nav_form {
      padding: 20px;
      
        td {
          padding-right: 20px;
        }
      
        #tac_msg {
          vertical-align: top;
        }
      
        #tac_error_msg {
          float:left;
          text-align: center;
          margin: 5px 0px 5px 0px;
          color: #ff0000;
        }
      
        #sign_up_button {
          float:left;
          padding: 10px 0px 20px 50px;
        }
      
        #sign_in_button {
          padding: 10px 0px 20px 80px;
        }
        
        #forgot_pwd_button {
          float: left;
          padding: 10px 0px 20px 50px;
          font-size: 10pt;
        }
        
        #change_pwd_button {
          float: left;
          padding: 10px 0px 20px 90px;
          font-size: 10pt;
        }
      
        #forgot_pwd_txt {
          text-align:center;
        }
        
        #user_email, #user_password, #user_password_confirmation {
          width: 160px;
        }
        
        #error_explanation {
          width: 390px;
        }
      }
    }
    
    #sign_in_partial {
      width: 300px;
    }
    
    #warning_msg {
      color: #ff0000;
    }
    
    #average_bp_container {
      width: 200px;
      height: 300px;
      margin: 0px 40px 20px 40px;
      float: right;
    
      #average_bp {
        position: relative;
        float: right;
        width: 100%;
        height: 100%;
        border-style:solid;
        border-width:2px;
        border-color:#033076;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
        background-color:#ffffff;
    
        #bar {
          width: 25px;
          margin: 20px 0px 0px 40px;
      
          #redbar {
            background-color:#e61610;
            width: 25px;
            height: 70px;
          }
      
          #amberbar {
            background-color:#ffb253;
            width: 25px;
            height: 70px;
          }
      
          #greenbar {
            background-color:#72bb53;
            width: 25px;
            height: 70px;
          }
        }
    
        #readout {
          z-index: 1;
          position: absolute;
          left: 20px;
      
          #line {
            float: left;
            border-style:solid;
            border-width:2px;
            border-color:#000000;
            background-color: #000000;
            height: 1px;
            width: 60px;
          }
      
          #reading {
            float: left;
            margin-top: -30px;
            width: 70px;
            border-style:solid;
            border-width:2px;
            border-color:#000000;
            -webkit-border-radius:7px;
            -moz-border-radius:7px;
            border-radius:7px;
            background-color:#ffffff;
            color:#000000;
            font-size: 12pt;
            text-align: center;
            padding: 7px;
        
            #mmHg {
              font-size: 10pt;
              text-align: center;
            }
          }
        }
    
        #learn_more {
          margin: 5px 0px 0px 50px;
        }
      }
    }
  }
  
  #landing_page_bp_treatment, #sign_in, #sign_up {
    float:left;
    
    #heart_bp_monitor_pic {
      float: left;
      width: 150px;
      height: 120px;
      margin: 10px 0px 10px 50px;
      padding: 3px;
      border-style:solid;
      border-width:1px;
      border-color:#033076;
    }
    
    #questions {
      float: left;
      margin: 5px 0px 20px 0px;
      width: 600px;
      
      h3 {
        font-size: 16pt;
        color: #0844a4;
        font-weight: normal;
        margin: 10px 0px 0px 20px;
      }
      
      #q1, #q2, #q3 {
        height: 28px;
      }
        
      #q2 {
        margin-left:20px;
      }
      
      #q3 {
        margin-left:40px;
      }
      
      #q4 {
        margin: -10px 0px 0px 60px;
      }
    }
    
    h2 {
      margin: 30px 0px 35px 120px;
      font-size: 16pt;
      color: #0844a4;
      font-weight: normal;
    }
    
    #landing_page_content {
      float: left;
     
      .picture_left {
        float: left;
        margin: 0px 20px 0px 50px;
      }
      
      .picture_right {
        float: right;
        margin: 0px 40px 0px 20px;
      }
      
      .picture_left, .picture_right {
        padding: 3px;
        border-style:solid;
        border-width:1px;
        border-color:#033076;
      }
      
      table {
        margin: 20px 40px 15px 120px;
        border: 1px solid #000000;
        width: 600px;
        
        th {
          font-size: 10pt;
          color: #ffffff;
          font-weight: bold;
          background-color: #707070;
        }
        
        td {
          vertical-align: top;
        }
        
        .line1 {
          background-color: #ffffff;
        }
        
        .line2 {
          background-color: #d0d0d0;
        }
        
        #generic {
          width: 200px;
        }
        
        td, th {
          padding: 5px;
        }
      }
    }
  }
  
  #landing_page_bp_treatment, #how_to_measure_bp {
    
    #cta_bp_entry {
      float: right;
      width: 300px;
      margin: 0px 40px 10px 40px;
      border-style:solid;
      border-width:2px;
      border-color:#033076;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      background-color:#ffffff;
      
      #title {
        padding: 5px 20px 5px 20px;
        line-height: 28px;
        float:left;
      }
      
      p {
        margin: 10px 20px 10px 20px;
        text-align: center;
        float:left;
      }
      
      #input_bp {
        margin: 10px 25px 0px 35px;
        float: left;
        
        #input_bp_boxes {
          float:left;
        }
        
        #submit {
          float:left;
          margin: 20px 0px 20px 80px;
        }
      }
      
      .how_to_measure_bp {
        display:block;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
  
  #choosing_a_monitor {
    
    #cufftable {
      margin: 0px 0px 10px 100px;
      
      td {
        text-align:center;
      }
      
      td.bold {
        padding: 5px 10px 2px 10px;
        font-weight: bold;
      }
    }
  }
}


#title {
      border-style:solid;
      border-width:2px;
      border-color:#033076;
      -webkit-border-radius:7px;
      -moz-border-radius:7px;
      border-radius:7px;
      background-color:#033076;
      color:#ffffff;
      font-size: 16pt;
      text-align: center;
      padding: 8px;
    }

#input_bp_boxes {
  #current_bp_sysbp, #current_bp_diabp {
    width: 70px;
    padding: 5px;
    font-size: 12pt;
    float: left;
    border-style:solid;
    border-width:2px;
    border-color:#033076;
  }

  #slash {
    float: left;
    font-size: 16pt;
    padding: 10px 10px 0px 10px;
  }

  #mmhg {
    float: left;
    font-size: 8pt;
    padding: 10px 0px 0px 10px;
  }
}
