#content {
  #main {
  
    #strip1 {
      width: 100%;
      background-color: #ffffff;
    
      #strip1_content {
        //width: 550px;
        //margin-left: auto;
        //margin-right: auto;
        //padding-bottom: 30px;
        padding: 50px 5% 20px 5%;   
      
        h1 {
          font-size:2.5em;
          color: #033076;
          font-weight: normal;
          line-height: 35px;
          margin: 0px 0px 10px 0px;
        }
      
        #first, #second, #third {
          font-family: arial, verdana, helvetica, sans-serif;
          font-size: 1.2em;
          //font-weight: normal;
          //margin: 0px 0px 0px 30px;
          //float: left;
          //margin-top: 20px;
          margin-left: 3%;
        }
        
        @media (min-width: 1000px) {
          #first, #second, #third {
            float: left;
          }
        }
      
        #first {
          color: #0844A4;
          //margin-top: 16px;
          //margin-left: 30px;
        }
      
        #second {
          color: #1464F6;
          //margin-top: 8px;
          //margin-left:10px;
        }
        
        #third {
          color: #3D8AF7;
        }
      }
    }
  
    #strip2 {
      width: 100%;
      background-color: #D4E3FC;
      margin-bottom: 30px;
      
      #strip2_content {
        //width: 60%;
        //max-width: 670px;
        //padding-right: 5%;
        //margin-left: auto;
        //margin-right: auto;
        padding-bottom: 30px;
        padding-left: 5%;
        padding-top: 30px; 
        
        h2 {
          font-size:1.8em;
          color: #033076;
          font-weight: normal;
          //padding: 20px 0px 0px 0px;
          margin: 0px;
          line-height: 28px;
        }
        
        p {
          font-size:1.1em;
          color: #000000;
          margin: 15px 5px 0px 3%;
        }
        
        #input_bp {
        margin: 15px 0px 0px 25px;
        
          #input_bp_boxes {
            float:left;
            margin-bottom: 10px;
          }
        
          #submit {
            float:left;
            margin-left: 30px;
          }
          
          #error_explanation {
            margin-bottom: 20px;
          }
        }
      }
    }
    
    #strip3 {
      width: 100%;
      background-color: #D4E3FC;
      margin-bottom: 30px;
      padding-bottom: 20px;
      
      #strip3_content {
        width: 90%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        
        h2 {
          font-size:1.8em;
          color: #033076;
          font-weight: normal;
          line-height: 25px;
          padding: 20px 0px 10px 0px;
          margin: 0px;
        }
        
        h3 {
          font-size:1.3em;
          color: #033076;
          font-weight: normal;
          padding: 10px 0px 0px 3%;
          margin: 0px;
        }
        
        p {
          font-size:1.1em;
          color: #000000;
          margin: 10px 5px 30px 3%;
        }
        
        #any_questions {
          width: 180px;
          margin: 30px auto 0px auto;
          
          a {
            color: #000000;
            font-size:1.2em;
            
            span {
              font-size:0.8em;
            }
          }
        }
      }
        
      #links, #links_2 {
        //width: 540px;
        width: 90%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        
        a.info_link1, a.info_link2 {
          //float: left;
          //width: 150px;
          min-height: 120px;
          margin: 0px 0px 40px 0px;
        }
        
        a.info_link_vertical {
          margin: 0px 0px 15px 0px;
          
          .link_text {
            margin: 5px 0px 0px 5px;
          }
        }
          
        a.info_link1, a.info_link2, a.info_link_vertical {
          padding: 5px;
          display: block;
            
          &:link, &:visited {
            color:#000000;
          }
      
          &:hover {
            text-decoration:none;
            color:#000000;
            background-color: #ffffff;
              
            #link_title, .link_text .more {
              text-decoration: underline;
            }
          }
            
          #link_title {
            display: block;
            padding: 10px 10px 10px 10px;
            //max-width: 120px;
            font-size: 1.6em;
            line-height: 18px;
            color: #033076;
          }
         
            
          img {
            margin: 10px 16px 10px 16px;
            height: 100px;
            width: 118px;
          }
            
          .link_text {
            font-size:1.1em;
            line-height: 20px;
            color: #606060;
            display: block;
            padding-left: 10px;
            padding-right: 10px;
            
            .more {
              color: #0000FF;
            }
          }
        }
        
        a.info_link1 {
          img {
            float: left;
          }
        }
        
        a.info_link2 {
          img {
            float: right;
          }
        }
      }
      
      #links_2 {
        width: 360px;
      }
    }
    
    #strip4 {
      width: 100%;
      background-color: #D4E3FC;
      //margin-bottom: 30px;
      
      #strip4_content {
        width: 90%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        
        #text {
          width: auto;
        
          p {
            font-size:1em;
            color: #000000;
            padding: 15px 0px 0px 25px;
            
            .bigger {
              font-size: 1.2em;
            }
            
            .bold {
              font-weight: bold;
            }
          }
            
          #feature_1 {
            font-size:1.2em;
            color: #0C59CF;
            padding: 15px 0px 0px 25px;
          }
          
          #feature_2 {
            font-size:1.2em;
            color: #0844A4;
            padding: 15px 0px 0px 25px;
          }
        }
        
        #graphic {
          float: right;
          width: 200px;
          margin: 25px 25px 0px 0px;
          
          #average_bp {
            position: relative;
            width: 100%;
            height: 300px;
            margin-left:25px;
            border-style:solid;
            border-width:2px;
            border-color:#033076;
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
            background-color:#ffffff;
    
            #bar {
              width: 25px;
              margin: 20px 0px 0px 40px;
      
              #redbar {
                background-color:#e61610;
                width: 25px;
                height: 70px;
              }
      
              #amberbar {
                background-color:#ffb253;
                width: 25px;
                height: 70px;
              }
      
              #greenbar {
                background-color:#72bb53;
                width: 25px;
                height: 70px;
              }
            }
    
            #readout {
              z-index: 1;
              position: absolute;
              left: 20px;
      
              #line {
                float: left;
                border-style:solid;
                border-width:2px;
                border-color:#000000;
                background-color: #000000;
                height: 1px;
                width: 60px;
              }
      
              #reading {
                float: left;
                margin-top: -30px;
                width: 70px;
                border-style:solid;
                border-width:2px;
                border-color:#000000;
                -webkit-border-radius:7px;
                -moz-border-radius:7px;
                border-radius:7px;
                background-color:#ffffff;
                color:#000000;
                font-size: 12pt;
                text-align: center;
                padding: 7px;
        
                #mmHg {
                  font-size: 10pt;
                  text-align: center;
                }
              }
            }
          }
          
          #reading_counter {
            width: 100%;
            height: 145px;
            margin-top: 20px;
            margin-left: 25px;
            margin-bottom: 25px;
            border-style:solid;
            border-width:2px;
            border-color:#033076;
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            border-radius:10px;
            background-color:#ffffff;
        
            p {
              margin: 5px 10px 5px 10px;
              font-size: 8pt;
              text-align: center;
              line-height: 14px;
            }
        
            #reading_counter_bar {
              float:left;
              margin: 10px 0px 10px 6px;
              border-style:solid;
              border-width:2px;
              border-color:#72bb53;
          
              .reading_taken, .reading_not_taken {
                float:left;
                width: 22px;
                height: 25px;
                border-right: 1px solid #ffffff;
                text-align: center;
                font-size: 14pt;
                color: #aedd94;
                padding-top: 6px;
              }
          
              .reading_taken{
                background-color: #72bb53;
              }
          
              .reading_not_taken {
                background-color: #ffffff;
              }
            }      
          }
        }
      }
    }
    
    #strip5 {
      width: 100%;
      min-height: 370px;
      background-color: #D4E3FC;
      //margin-bottom: 30px;
      
      #strip5_content {
        width: 90%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        
        p {
          font-size:1em;
          color: #000000;
          padding: 15px 0px 0px 25px;
          
          .bold {
            font-weight: bold;
          }
        }
        
        #return_notice {
          font-size:1.2em;
          color: #0844A4;
          padding: 25px 0px 0px 0px;
          max-width: 500px;
          margin: 0px 3% 0px 10%;
          text-align: center;
        }
        
        #yes_no_buttons {
          width: 180px;
          margin-left: auto;
          margin-right: auto;
          padding: 20px 200px 0px 0px;
        }
        
        #no_button, #yes_button {
          float: left;
          width: 80px;
        }
        
        #yes_button {
          margin-left: 20px; 
        }
        
        #next_button, #restart_button {
          width: 80px;
          margin-left: auto;
          margin-right: auto;
          padding: 20px 200px 0px 0px;
        }
        
        #restart_button {
          padding: 20px 0px 0px 0px;
        }
      }
    }
    
        
    #strip1, #strip2, #strip3, #strip4, #strip5 {
      max-width: 1000px;
      margin: 0px auto 30px auto;
    }
    
    
    #nav_form {
      padding: 20px 0px 0px 6%;
      max-width: 400px;
      
      h2 {
        font-size:1.6em;
        color: #0844A4;
        padding: 0px 0px 15px 0px;
      }
      
      table {
        margin-left: 10%;
      }
      
      td {
        padding: 0px 20px 5px 0px;
        vertical-align: top;
      }
      
      #tac_msg {
        
        td {
          font-size: 0.9em;
        }
      }
      
      #tac_error_msg p{
        text-align: center;
        margin: 5px 0px 10px 0px;
        color: #ff0000;
      }
      
      #sign_up_button {
        padding: 10px 0px 20px 20%;
      }
      
      #sign_in_button {
        padding: 10px 0px 20px 150px;
      }
        
      #forgot_pwd_button {
        padding: 10px 0px 20px 50px;
        font-size: 10pt;
      }
        
      #change_pwd_button {
        padding: 10px 0px 20px 90px;
        font-size: 10pt;
      }
      
      #forgot_pwd_txt {
        text-align:center;
      }
        
      #user_email, #user_password, #user_password_confirmation {
        width: 160px;
      }
        
      #error_explanation {
        margin-left: 40px;
      }
      
      #message_content, #admin_message_content {
        width: 450px;
        font-size: 1em;
      }
      
      #send_button {
        margin: 20px 0px 20px 200px;
      }
    }
  }
}