#content {
  #main {
  
    #strip1 {
      width: 100%;
      background-color: #ffffff;
    
      #strip1_content {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        
      
        h2 {
          font-size:2.2em;
          color: #033076;
          font-weight: normal;
          margin: 20px 0px 0px 0px;
        }
      
        h3, h4 {
          font-size: 1.6em;
          font-weight: normal;
          margin: 0px 0px 0px 30px;
        }
      
        h3 {
          color: #1464F6;
          margin-top: 16px;
        }
      
        h4 {
          color: #3D8AF7;
          margin-top: 8px;
        }
      }
    }
  
    #strip2 {
      width: 100%;
      background-color: #D4E3FC;
      margin-bottom: 30px;
      
      #strip2_content {
        width: 60%;
        padding-right: 5%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        
        h3 {
          font-size:1.8em;
          color: #0844A4;
          font-weight: normal;
          padding: 20px 0px 0px 0px;
          margin: 0px;
        }
        
        p {
          font-size:1em;
          color: #000000;
          margin: 15px 0px 0px 25px;
        }
        
        #input_bp {
        margin: 10px 0px 0px 55px;
        
          #input_bp_boxes {
            float:left;
            margin-bottom: 10px;
          }
        
          #submit {
            float:left;
            margin-left: 30px;
          }
        }
      }
    }
    
    #strip3 {
      width: 100%;
      background-color: #D4E3FC;
      margin-bottom: 30px;
      
      #strip3_content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        
        h3 {
          font-size:1.6em;
          color: #032F76;
          font-weight: normal;
          padding: 20px 0px 0px 0px;
          margin: 0px;
        }
        
        p {
          font-size:1em;
          color: #000000;
          margin: 15px 0px 0px 25px;
        }
      }
        
      #links {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
          
        .info_link {
          float: left;
          width: 150px;
          margin: 0px 10px 0px 10px;
          padding: 5px;
            
          &:link, &:visited {
            color:#000000;
          }
      
          &:hover {
            text-decoration:none;
            color:#000000;
            background-color: #e7f0fd;
              
            #link_title_1 {
              background-color: #033076;
                
              #link_title_content_1 {
                background-color: #033076;
              }
            }
              
            #link_title_2 {
              background-color: #0844A4;
                
              #link_title_content_2 {
                background-color: #0844A4;
              }
            }
              
            #link_title_3 {
              background-color: #0C59CF;
                
              #link_title_content_3 {
                background-color: #0C59CF;
              }
            }
          }
            
          #link_title_1, #link_title_2, #link_title_3 {
            display: block;
            padding: 5px 15px 5px 15px;
              
            #link_title_content_1, #link_title_content_2, #link_title_content_3 {
              display: block;
              width: 100%;
              font-size: 1.2em;
              color: #ffffff;
              text-align: center;
            }
          }
            
          #link_title_1 {
            background-color: #021F54;
              
            #link_title_content_1 {
              background-color: #021F54;
            }
          }
            
          #link_title_2 {
            background-color: #033076;
              
            #link_title_content_2 {
              background-color: #033076;
            }
          }
            
          #link_title_3 {
            background-color: #0844A4;
              
            #link_title_content_3 {
              background-color: #0844A4;
            }
          }
            
          img {
            margin: 10px 16px 10px 16px;
          }
            
          .link_text {
            font-size:1em;
            line-height: 14px;
            color: #000000;
            margin: 0px 5px 0px 5px;
          }
        }
      }
    }
  }
}