#mailer_sign_up {
  font-family: arial, sans-serif;
  font-size: 10pt;
  
  h1 {
    color: #033076;
    font-size: 18pt;
    margin-bottom: 20px;
  }
  
  p {
    margin: 10px 45px 0px 25px;
    color: #000000;
  }
}
