@media (max-width: 450px) {
  #topmenu {
    margin-bottom: 15px;
  }
  
  #content {
    #main {
      #strip1 {
        #strip1_content {
          padding: 30px 5% 30px 5%;  
          
          h1 {
            font-size:2em;
            line-height: 30px;
          }
        }
      }
      
      #strip2 {
        #strip2_content {
          #text {
            h2 {
              font-size: 1.6em;
            }
          }
        }
      }
      
      #strip3 {
        #strip3_content {
          h2 {
            font-size: 1.6em;
          }
        }
        
        #links {
          a.info_link1, a.info_link2, a.info_link_slim {
            .link_title {
              font-size:1.3em;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 450px) {
  #content {
    #main {
      #strip4 {
        #strip4_content {
          #graphic {
            float: right;
            padding-right: 10px;
            padding-left: 6%;
          }
        }
      }
      
      #strip2 {
        #strip2_content {
          #graphic {
            float: right;
            padding-right: 10px;
            padding-left: 6%;
          }
        }
      }
    }
  }
}