@media (max-width: 450px) {
  #topmenu {
    margin-bottom: 15px;
  }
  
  #content {
    #main {
      #strip1 {
        #strip1_content {
          padding: 30px 5% 30px 5%;  
          
          h1 {
            font-size:2em;
            line-height: 30px;
          }
        }
      }
      
      #strip2 {
        #strip2_content {
          #text {
            h2 {
              font-size: 1.6em;
            }
          }
          
          #text_landing_page {
            td {
              font-size:1.6em;
              line-height: 25px;
            }
          
            .number {
              font-size: 2em;
            }
          }
        }
      }
      
      #strip3 {
        #strip3_content {
          h2 {
            font-size: 1.6em;
          }
        }
        
        #links {
          a.info_link1, a.info_link2, a.info_link_slim {
            .link_title {
              font-size:1.3em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #content {
    #main {
      #strip4 {
        #strip4_content {
          #graphic {
            float: none;
            padding-right: 0px;
            padding-left: 0%;
          }
        }
      }
      
      #strip2 {
        #strip2_content {
          #graphic {
            float: none;
            padding-right: 0px;
            padding-left: 0%;
          }
        }
      }
      
      #strip3 {
        #strip3_content {
          #graphic {
            float: none;
            padding-right: 0px;
            padding-left: 0%;
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  #content {
    #main {
      #strip2 {
        #strip2_content {
          #text_landing_page {
            table {
              #arrow {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  #content {
    #main {
      #strip2 {
        #strip2_content {
          #graphic_landing_page {
            float: none;
            padding-left: 0%;
          }
        }
      }
      
      #strip3 {
        #strip3_content {
          #text_landing_page {
            .section {
              .image_left {
                float: none;
                padding: 0px 0px 20px 0px;
                margin: 0px auto 0px auto;
              }
              
              .image_right {
                float: none;
                padding: 0px 0px 20px 0px;
                margin: 0px auto 0px auto;
              }
            }
          }
        }
      }
    }
  }
}
