#content{
  #main {
    #strip3 {
      
      #strip3_content {
        
        #text {
        
        .name {
          float: left;
          font-size:1.2em;
          color: #032F76;
          margin-top: 15px;
          margin-bottom: 0px;
        }
          
        .qualifications {
          float: left;
          color: #032F76;
          margin: 15px 0px 0px 10px;
          font-size: 0.8em;
        }
          
        .gmc_no {
          font-size: 0.8em;
          margin: 0px 0px 0px 3%;
        }
    
        .content {
          margin: 0px 0px 20px 3%;
        }
        
        .indent {
          margin-left: 6%;
        }
        }
      }
    }
  }
}