#main {
  
  #about_us {
    
    .about_us_box {
      float: left;
      width: 380px;
      height: 150px;
      margin: 10px 0px 10px 40px;
      padding: 10px;
      border-style:solid;
      border-width:2px;
      border-color:#033076;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      background-color:#ffffff;
  
      h3 {
        font-size: 16pt;
        color: #0844a4;
        font-weight: normal;
        margin: 5px 0px 0px 10px;
      }
  
      .content {
        margin: 10px;
      }
    
      .qualifications {
        font-size: 10pt;
        margin: 0px 0px 0px 10px;
      }
    
      .gmcno {
        font-size: 8pt;
        margin: 0px 0px 0px 10px;
      }
    }
    
    .indent {
      padding-left: 30px;
      font-weight: bold; 
    }
  }
  
  
  #tac {
    
    h3 {
      font-size: 16pt;
      color: #0844a4;
      font-weight: normal;
      margin: 30px 0px 10px 0px;
    }

    h4 {
      font-size: 12pt;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
}

#xcontent {
  #xmain {
  
    #strip1 {
      width: 100%;
      background-color: #ffffff;
    
      #strip1_content {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        
      
        h2 {
          font-size:22pt;
          color: #033076;
          font-weight: normal;
          margin: 20px 0px 0px 0px;
        }
      
        h3, h4 {
          font-size: 16pt;
          font-weight: normal;
          margin: 0px 0px 0px 30px;
        }
      
        h3 {
          color: #1464F6;
          margin-top: 10px;
        }
      
        h4 {
          color: #3D8AF7;
          margin-top: 3px;
        }
      }
    }
  
    #strip2 {
      width: 100%;
      background-color: #D4E3FC;
      margin-bottom: 30px;
      
      #strip2_content {
        width: 60%;
        padding-right: 5%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        
        h3 {
          font-size:18pt;
          color: #0844A4;
          font-weight: normal;
          padding: 20px 0px 0px 0px;
          margin: 0px;
        }
        
        p {
          font-size:10pt;
          color: #000000;
          margin: 5px 0px 0px 25px;
        }
        
        #input_bp {
        margin: 10px 0px 0px 55px;
        
          #input_bp_boxes {
            float:left;
            margin-bottom: 10px;
          }
        
          #submit {
            float:left;
            margin-left: 30px;
          }
        }
      }
    }
    
    #strip3 {
      width: 100%;
      background-color: #D4E3FC;
      margin-bottom: 30px;
      
      #strip3_content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
        
        h3 {
          font-size:16pt;
          color: #032F76;
          font-weight: normal;
          padding: 20px 0px 0px 0px;
          margin: 0px;
        }
        
        p {
          font-size:10pt;
          color: #000000;
          margin: 5px 0px 0px 25px;
        }
        
        #links {
          width: 450px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 30px;
          
          .info_links {
            float: left;
            width: 130px;
            
            &:link, &:visited {
              color:#000000;
            }
      
             &:hover {
              text-decoration:none;
              color:#000000;
              background-color: #e7f0fd;
            }
            
            .link_title {
              display: block;
              background-color: #032F76;
              padding: 3px;
              
              .link_title_content {
                display: block;
                width: 100%;
                background-color: #032F76;
                font-size: 12pt;
                color: #ffffff;
                text-align: center;
              }
            }
            
            img {
              margin: 9px;
            }
            
            .link_text {
              font-size:10pt;
              color: #000000;
              margin: 0px 5px 0px 5px;
            }
          }
        }
      }
    }
  }
}

