<div id='strip1'>
	<div id='strip1_content'>
		<h1>The best blood pressure treatment</h1>
		<p>Use our site to measure and treat your blood pressure in the comfort of your own home</p>
		<p>Get personalised advice about your blood pressure at any time, night or day</p>
		<p>If you need them, get prescriptions delivered to your doorstep</p>
		<%= link_to 'Take a tour...', static_pages_features_path %>
	</div>
</div>