<h3>Is my blood pressure too high?</h3>
<p>Enter some blood pressure readings and we'll answer that question right away!</p>
<div id='input_bp'>
	<%= render 'current_bps/form' %>
				
	<div class='clear_float'>
	</div>
				
</div>