<div id='graphic'>
	<div id='promo'>
		<div id='title'>
			No more waiting at the doctor's!
		</div>
		
		<table>
			<tr>
				<td class='number'>1.</td>
				<td class='msg'>Measure your blood pressure</td>
			</tr>
			<tr>
				<td class='number'>2.</td>
				<td class='msg'>Get FREE advice from UK GPs</td>
			</tr>
			<tr>
				<td class='number'>3.</td>
				<td class='msg'>Have prescriptions delivered to your door</td>
			</tr>
		</table>
		
		<%= link_to 'Find out more...', static_pages_features_path %>
	</div>
</div>
