<div id='graphic'>
	<%= link_to(static_pages_features_path) do %>
	<div id='promo'>
		<div id='title'>
			<span>No more waiting at the doctor's!</span>
			
		</div>
		
		<table>
			<tr>
				<td class='number'>1.</td>
				<td class='msg'>Measure your blood pressure</td>
			</tr>
			<tr>
				<td class='number'>2.</td>
				<td class='msg'>Get FREE advice from UK GPs</td>
			</tr>
			<tr>
				<td class='number'>3.</td>
				<td class='msg'>Have prescriptions delivered to your door</td>
			</tr>
		</table>
		
		<p>Take a tour...</p>
	</div>
	<% end %>
</div>
