<div id='graphic'>
	<div id='questions'>
		<div id='title'>
			Any questions?
		</div>
		
		<div id='questions_button'>
			<%= link_to(new_message_path, :class => 'button6') do %>
				<span>Ask us!</span>
				<br />
				We're here to help
			<% end %>
		</div>
		
	</div>
</div>
