<div id='strip1'>
	<div id='strip1_content'>
		<h1>Find out more about your blood pressure</h1>
		<p>By using this site you’ll get clear information about your blood pressure. You’ll get up to date personalised advice from UK GPs. You’ll be able to use this information whenever you want, without the hassle of having to get an appointment at your doctors.</p>
	</div>
</div>