<div id='main'>
	<%= render 'info/treating_bp_title' %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='welcome'>
				<h2>How does smoking affect my blood pressure?</h2>
			</div>
			
			<%= render 'info/questions' %>
			
			<div id='text'>
			<p>You may be amazed to find that there is no direct link between smoking and high blood pressure.</p>
			<h3>Why stopping smoking will help you anyway</h3>
			<p>Stopping smoking is the single best thing that you can do to help reduce the risk of having a heart attack or a stroke. The main worry for most people with high blood pressure is that, like smoking, it increases the risk of heart attacks and strokes. So even if a direct link between smoking and high blood pressure hasn’t been found, if you are worried about your blood pressure, it certainly makes sense to stop smoking.</p>
			</div>
		</div>
	
	</div>
</div>