<div id='main'>
	
	<%= render 'info/measuring_bp_title' %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='welcome'>
				<h2>When should I measure my blood pressure?</h2>
			</div>
			<%= render 'info/questions' %>
			<div id='text'>
			
			<p>You should measure your blood pressure each morning and evening. On each occasion you should take two readings one minute apart. Our website will help you keep track of this with email reminders and clear instructions. Then we’ll do the hard work for you, and work out what your average blood pressure is.</p>
			<p>Your blood pressure varies from hour to hour so one or two readings can be misleading. Doctors recommend taking a set of readings over at least 4 days to get a reliable measurement. By using HomeBloodPressure.co.uk you will be guided through taking your readings step by step so you can be sure you’ve got an accurate measurement. By taking the average of a lot of readings HomeBloodPressure.co.uk is able to give you a more reliable measure of your blood pressure than any single reading.</p>

			</div>
		</div>
	
	</div>
</div>